<!DOCTYPE html>
<html>
  <head>    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= content_for(:title) ?yeild(:title) : "Work From Home" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <!-- Bootstrap CSS -->

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'  %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>   
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main center">
     <div class="container justify-content-between rounded  center ">
         
         <%= yield %>
     </div>
    </main>
cd

  </body>
</html>
